/* - Reset - */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
p,
a,
ul,
li {
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	background: var(--main-color);
}

/* Button reset */
button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	cursor: pointer;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
}

&::-moz-focus-inner {
	border: 0;
	padding: 0;
}

:root {
	font-size: 16px;
	font-family: "Londrina Solid", sans-serif;
	--main-color: #f87d58;
	--secondary-color: #f8f4e3;
	--compliment-color: #2b2d42;
	--compliment-color_alpha: #2b2d423c;
	--notification-color: #ef233c;
	--cta-color: #92eb4c;
	--border-radius: 30px;
	--font-big: 64px;
	--font-med: 32px;
	--font-med-small: 28px;
	--font-normal: 16px;
	--font-small: 8px;
	--shadow: 0px 0px 30px rgba(0, 0, 0, 0.438);
}

h2 {
	letter-spacing: 4px;
}

.londrina-solid-thin {
	font-family: "Londrina Solid", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.londrina-solid-light {
	font-family: "Londrina Solid", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.londrina-solid-regular {
	font-family: "Londrina Solid", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.londrina-solid-black {
	font-family: "Londrina Solid", sans-serif;
	font-weight: 900;
	font-style: normal;
}
